body {
    font-family: Arial, sans-serif;
    background-color: #f3f7f3;
    text-align: center;
}

h1 {
    margin-top: 30px;
}

.subtitle {
    color: gray;
    margin-bottom: 30px;
}

.card {
    width: 25%;
    margin: auto;
    background-color: white;
    padding: 25px;
    border-radius: 12px;
    box-shadow: 0 0 15px rgba(0,0,0,0.1);
    text-align: left;
}

.card h2 {
    text-align: center;
}

.text {
    text-align: center;
    color: gray;
    margin-bottom: 20px;
}

label {
    display: block;
    margin-top: 15px;
    font-weight: bold;
}

input, select {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    border-radius: 8px;
    border: 1px solid #ccc;
}

.btn-group {
    margin-top: 15px;
    background-color: #f0f2f0;
    padding: 5px;
    border-radius: 10px;
    text-align: center;
}

.btn-group button {
    width: 48%;
    padding: 10px;
    border: none;
    border-radius: 8px;
}

.light {
    background-color: #f0f2f0;
}

.dark {
    background-color: white;
    font-weight: bold;
}

.submit {
    width: 100%;
    margin-top: 25px;
    padding: 12px;
    background-color: #2e7d32;
    color: white;
    border: none;
    border-radius: 10px;
    font-size: 16px;
}
