body {
      background: #f8faf9;
      font-family: "Segoe UI", sans-serif;
    }

    /* NAVBAR */
    /* .navbar {
      background: #ffffff;
      box-shadow: 0 2px 8px rgba(0,0,0,0.05);
    }

    .brand {
      font-weight: 700;
      color: #1fa64b;
      font-size: 1.4rem;
    }

    .search-bar {
      width: 350px;
      border-radius: 50px;
      padding-left: 40px;
    }

    .search-icon {
      position: absolute;
      top: 50%;
      left: 15px;
      transform: translateY(-50%);
      color: #aaa;
    } */

    /* PROFILE CARD */
    .profile-card{
      background: #ffffff;
      border-radius: 20px;
      padding: 25px;
      box-shadow: 0 10px 30px rgba(0,0,0,0.06);
      margin-bottom: 30px;
      width: 95%;
    }

    .avatar {
      width: 90px;
      height: 90px;
      background: #1fa64b;
      color: #fff;
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 20px;
      font-size: 2.5rem;
      font-weight: bold;
    }

    .badge-role {
      background: #e9f9f0;
      color: #1fa64b;
      font-size: 0.75rem;
      padding: 5px 12px;
      border-radius: 20px;
      font-weight: 600;
    }

    .edit-btn {
      border-radius: 50px;
      padding: 8px 20px;
      border: 2px solid #1fa64b;
      color: #1fa64b;
      font-weight: 600;
      transition: 0.2s;
    }

    .edit-btn:hover {
      background: #1fa64b;
      color: #fff;
    }

    /* INFO BOX */
    .info-box {
      background: #ffffff;
      border-radius: 18px;
      padding: 25px;
      box-shadow: 0 10px 25px rgba(0,0,0,0.05);
      height: 100%;
    }

    .info-box h5 {
      font-weight: 700;
      margin-bottom: 20px;
      display: flex;
      align-items: center;
      gap: 10px;
      color: #222;
    }

    .form-control[readonly] {
      background-color: #f9f9f9;
      border-radius: 12px;
    }

    /* ADDRESS BOX */
    .address-box {
      background: #ffffff;
      border-radius: 18px;
      padding: 25px;
      box-shadow: 0 10px 25px rgba(0,0,0,0.05);
    }